.footer-container {
	padding: 10px 0;
	background: rgba(202, 202, 202, 70);
}

.footer-container > .col-md-6 > p{
	line-height: 1.1;
	font-size: 12px;
}

#map-align-left {
	margin-left: 12px;
}

.shadow-drop {
	box-shadow: 8px 8px 18px black;
}

.contact-form {
	margin-top: 20px;
}

#map {
	height: 400px;
	width: 100%;
}

.card {
	box-shadow: 8px 8px 18px rgb(202, 202, 202);
}

.margin-15px-bottom {
	margin-bottom: 15px;
}

footer {
	margin-top: 250px;
	width: 100%;
}

.transparent-img {
	opacity: 1.0;
}

.transparent-img:hover {
	opacity: 0.5;
	animation-name: trans-img;
	animation-duration: 1s;
}

@keyframes trans-img {
	from {
		opacity: 1.0;
	}
	to {
		opacity: 0.5;
	}
}

@keyframes trans-enlarge-img {
	from {
		opacity: 0;
	}
	to {
		opacity: 1.0;
	}
}

#modal-image-pop {
	animation-name: trans-enlarge-img;
	animation-duration: 1s;
}

#modal-image {
	display: none;
	right: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 1031;
	position:fixed;
}

/* MORE THAN 75 */

.margin-left-form-label {
	margin-left: 140px;
}

/* LESS THAN 75 */
@media (max-width: 74.9em) { 
	.margin-left-form-label {
		margin-left: 115px;
	}

	.index-card {
		margin: 0 15px;
	}
}

/* LESS THAN 62 */
@media (max-width: 61.9em) {
	.margin-left-form-label {
		margin-left: 85px;
	}

	.index-card {
		margin: 20px 0;
	}
}

/* LESS THAN 48 */
@media (max-width: 47.9em) { 
	.margin-left-form-label {
		margin-left: -5px;
	}

	.index-card {
		margin: 10px 0;
	}
}

/* LESS THAN 34 */
@media (max-width: 33.9em) { 
}